section {
    max-width: 1420px;

    .cardContent {
        display: flex !important;
        gap: 16px;
    }
}

.card {
    width: 20%;
    max-width: 20%;
    text-align: center;
}

.projectContainer {
    justify-content: space-between;
}

table {

    border-collapse: collapse;

    th {
        text-align: left;
    }

    .tableContent {
        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        &:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
}

.machinCard {
    p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    h3 {
        margin-block-start: 0; 
    }

    h4:first-of-type {
        margin-block-start: 0;
    }
}