<section>
    <div class="projectContainer d-flex">
        <article>
            <h3>Awaiting</h3>
            <div class="awaitingContainer">
                @for (project of getAwaitingProjects(); track $index) {
                <app-project-card [project]="project" />

                }

            </div>
        </article>
        <article>
            <h3>Active</h3>
            <div class="activeContainer">
                @for (project of getActiveProjects(); track $index) {
                <app-project-card [project]="project" />

                }
            </div>
        </article>
        <article>
            <h3>Paused</h3>
            <div class="pausedContainer">
                @for (project of getPausedProjects(); track $index) {
                <app-project-card [project]="project" />

                }
            </div>
        </article>
        <article>
            <h3>Finished</h3>
            <div class="FinishedContainer">
                @for (project of getFinishedProjects(); track $index) {
                <app-project-card [project]="project" />

                }
            </div>
        </article>

    </div>
</section>

<section>
    <h2>Machine Capactiy</h2>
    <div class="d-flex g-16 flex-wrap capacityContainer">
        @for (machine of getMachineList(); track $index) {
        <mat-card class="machinCard">
            <mat-card-header class="flex-center">
                <mat-card-title>
                    <h3>{{machine.name}}</h3>
                </mat-card-title>

            </mat-card-header>
            <mat-card-content>

                <mat-form-field appearance="outline">
                    <mat-label>Assign to</mat-label>
                    <mat-select [(ngModel)]="machine.assignedEmployee" name="assignedEmployee" id="assignedEmployee"
                        (selectionChange)="onSelectionChange($event, machine.id, machine)">
                        <mat-option [value]="'none'">none</mat-option>
                        @for (employee of getEmployeeList(); track employee; let i = $index) {
                        <mat-option [value]="employee.id">{{employee.name}}, {{employee.surname}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <h4 style="text-align: center;">Projects:</h4>
                @for (project of getProjectsForMachine(machine.id); track $index) {
                <div class="flex-between">
                    <p>{{project.projectId}}</p> <span>{{project.scheduledTime}} h</span>
                </div>
                }
                <h4 style="text-align: center;">Total Scheduled Time:</h4>
                <p style="text-align: center;">{{getSheduledTimePerMachine(machine.id)}} h</p>


            </mat-card-content>
        </mat-card>

        }


    </div>
</section>

<section>
    <h2>Unassigned Employees</h2>
    <div class="unassignedContainer">
        <mat-card>


            @for (employee of getUnassignedEmployees(); track $index) {
            <mat-card-header>
                <h4> {{employee.name}}, {{employee.surname}} </h4>
            </mat-card-header>
            <mat-card-content>
                @for (skill of employee.skills; track $index){
                <li> {{skill}} </li>
                }
            </mat-card-content>
            }
        </mat-card>
    </div>
</section>