
<section>

    <div class="projectContainer d-flex">

        <div class="awaitingContainer">
            <h3>Awaiting</h3>
            @for (project of getAwaitingProjects(); track $index) {
                <app-project-card [project]="project"></app-project-card>

            }

        </div>
        <div class="activeContainer">
            <h3>Active</h3>
            @for (project of getActiveProjects(); track $index) {
                <app-project-card [project]="project"></app-project-card>

            }
        </div>
            
            <div class="pausedContainer">
                <h3>Paused</h3>
                @for (project of getPausedProjects(); track $index) {
                    <app-project-card [project]="project"></app-project-card>

                }
            </div>
            <div class="FinishedContainer">
                <h3>Finished</h3>
                @for (project of getFinishedProjects(); track $index) {
                    <app-project-card [project]="project"></app-project-card>

                }
            </div>
       

    </div>

</section>