


mat-accordion {
  mat-expansion-panel:nth-child(2) {
    
      margin-top: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    
  }
}

.panelProjectId{
  max-width: 70px;
}

.panelCustomer{
  max-width: 130px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.panelArticle{
  max-width: 100px;
}

.panelDeliveryDdate{
  max-width: 100px;

}

mat-expansion-panel-header{
  min-height: 56px;
}

