<p>projects works!</p>



<!-- <mat-card style="padding: 16px;"> -->
 
  <mat-accordion>


    <mat-expansion-panel disabled="true">
      <mat-expansion-panel-header >
        <mat-panel-title class="panelProjectId">
          Project ID
        </mat-panel-title>
        <mat-panel-title class="panelCustomer">
          Customer
        </mat-panel-title>
        <mat-panel-title class="panelArticle">
          Article No.
        </mat-panel-title>
        <mat-panel-title class="panelDeliveryDdate">
          Delivery Date
        </mat-panel-title>
        <mat-panel-title class="panelDeliveryDdate">
          Used Machines
        </mat-panel-title>


      </mat-expansion-panel-header>
    </mat-expansion-panel>


    @for (project of dataSource; track $index) {
    <mat-expansion-panel>



      <mat-expansion-panel-header>
        <mat-panel-title class="panelProjectId">
          {{project.projectId}}
        </mat-panel-title>
        <mat-panel-title class="panelCustomer">
          {{project.customer}}
        </mat-panel-title>
        <mat-panel-title class="panelArticle">
          {{project.article}}
        </mat-panel-title>
        <mat-panel-description class="panelDeliveryDdate">
          {{project.deliveryDate}}
        </mat-panel-description>
        <mat-panel-description class="panelUsedMachines">
          {{project.usedMachines}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><b>Scheduled Time: </b> {{project.scheduledTime}} h</p>
      <p><b>E-mail: </b> {{project.description}}</p>


    </mat-expansion-panel>

    }

  </mat-accordion>

<!-- </mat-card> -->