

mat-accordion {

  mat-expansion-panel:nth-child(2) {
    
      margin-top: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    
  }
}

.notifications{
	text-overflow: ellipsis;
}

.panelProjectId{
  max-width: 70px;
}

.panelCustomer{
  max-width: 130px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.panelArticle{
  max-width: 100px;
}

.panelDeliveryDdate{
  max-width: 120px;

}

mat-expansion-panel-header{
  min-height: 56px;
}

.addProjectBtn{
  margin-bottom: 16px;
}

// color for project status
.project-status.active {
  color: green;
}

.project-status.paused {
  color: yellow;
}

.project-status.finished {
  color: blue;
}

.project-status.awaiting {
  color: grey;
}

table {
	width:100%;
}

table, td, tr, th {
	border-bottom:1px solid black;
	border-collapse: collapse;
	text-align: left;
}

td, tr, th {
	padding:1em;
}

th {
	background:#eee;
	font-weight: bold;
}

@media screen and (max-width:700px) {
	
	table, tr, td {
		padding:0;
		// border:1px solid black;
	}

	table {
		border:none;
	}

	thead {
		display:none;
	}

	tr {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}

	td {
		float: left;
		width: 100%;
		padding:1em;
	}

	td::before {
		content:attr(data-label);
		word-wrap: break-word;
		background: #eee;
		border-right:2px solid black;
		width: 20%;
		float:left;
		padding:1em;
		font-weight: bold;
		margin:-1em 1em -1em -1em;
	}
}