

mat-accordion {

  mat-expansion-panel:nth-child(2) {
    
      margin-top: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    
  }
}

.panelProjectId{
  max-width: 70px;
}

.panelCustomer{
  max-width: 130px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.panelArticle{
  max-width: 100px;
}

.panelDeliveryDdate{
  max-width: 120px;

}

mat-expansion-panel-header{
  min-height: 56px;
}

.addProjectBtn{
  margin-bottom: 10px;
}

// color for project status
.project-status.active {
  color: green;
}

.project-status.paused {
  color: yellow;
}

.project-status.finished {
  color: blue;
}

.project-status.awaiting {
  color: grey;
}

