<p>projects works!</p>



<!-- <mat-card style="padding: 16px;"> -->

  <mat-accordion>


    <mat-expansion-panel disabled="true">
      <mat-expansion-panel-header >
        <mat-panel-title class="panelProjectId">
          Project ID
        </mat-panel-title>
        <mat-panel-title class="panelCustomer">
          Customer
        </mat-panel-title>
        <mat-panel-title class="panelArticle">
          Article No.
        </mat-panel-title>
        <mat-panel-title class="panelDeliveryDdate">
          Delivery Date/ <br>
          Scheduled Time
        </mat-panel-title>
      


      </mat-expansion-panel-header>
    </mat-expansion-panel>


    @for (project of dataSource; track $index) {
    <mat-expansion-panel>



      <mat-expansion-panel-header>
        
        <mat-panel-title class="panelProjectId">
          {{project.projectId}}
        </mat-panel-title>
        <mat-panel-title class="panelCustomer">
          {{project.customer}}
        </mat-panel-title>
        <mat-panel-title class="panelArticle">
          {{project.article}}
        </mat-panel-title>
        <mat-panel-description class="panelDeliveryDdate">
          {{project.deliveryDate}}
          <br>
          {{project.scheduledTime}} h
        </mat-panel-description>
       
      </mat-expansion-panel-header>
      <p><b>Status: </b> {{project.status}}</p>
      <p><b>Scheduled Time: </b> {{project.scheduledTime}} h</p>
      <p><b>Used Machines: </b> {{project.usedMachines}}</p>

      <p><b>Notifications: </b> {{project.notification}}</p>


    </mat-expansion-panel>

    }

  </mat-accordion>


<!-- </mat-card> -->