<p>employees works!</p>

<button (click)="openAddDialog()">Add</button>

<mat-accordion>
   
        @for (employee of getEmployeesList(); track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{employee.employeeId}}
                </mat-panel-title>
                <mat-panel-title>
                    {{employee.name}} {{employee.surname}}
                </mat-panel-title>
               
            </mat-expansion-panel-header>
        
            <p><b>E-mail: </b> {{employee.email}}</p>
            
            <p><b>Current Machine: </b> {{employee.activeMachine}}</p>
        </mat-expansion-panel>
        }
    
</mat-accordion>