<section>
  <h2>Add new Machine</h2>
  <form class="form" #machineForm="ngForm" (ngSubmit)="onSubmit(machineForm)">

    <mat-form-field appearance="outline">
      <mat-label>Manufacturer</mat-label>
      <input matInput name="manufacturer" id="manufacturer" [(ngModel)]="machine.manufacturer" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput name="name" id="name" [(ngModel)]="machine.name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="machine.type" name="type" id="type" required>
        @for (type of machineTypes; track type; let i = $index) {
        <mat-option [value]="type">{{type}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max-Dimension</mat-label>
      <input matInput name="maxDimension" id="maxDimension" [(ngModel)]="machine.maxDimension" required>
    </mat-form-field>

      <mat-dialog-actions class="actions flex-between">
        <button mat-raised-button type="submit" [disabled]="!machineForm.form.valid">Save</button>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close()">Cancel</button>
      </mat-dialog-actions>
  </form>
</section>