
<div class="example-sidenav-content">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>PPS Hub</span>
        <span class="example-spacer"></span>
        <div class="headerBtnRight">
            <button mat-icon-button class="example-icon">
                <mat-icon>help</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer [opened]="drawerMode === 'side'" class="sidenav" [mode]="drawerMode">
            <mat-divider></mat-divider>
            <ul>
                <li [routerLink]="['dashboard']" (click)="closeDrawer()"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
                <li [routerLink]="['projects']" (click)="closeDrawer()"><mat-icon>assignment</mat-icon>Projects</li>
                <li [routerLink]="['employees']" (click)="closeDrawer()"><mat-icon>account_circle</mat-icon>Employees</li>
                <li [routerLink]="['machine-park']" (click)="closeDrawer()"><mat-icon>precision_manufacturing</mat-icon>Machine Park</li>
            </ul>

        </mat-drawer>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>