section {
    display: flex;
    justify-content: center;
}

.LoginCard{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}
mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-card {
    padding-bottom: 16px;
}