<section>
  <h2>Add new Project</h2>
  <form [formGroup]="projectForm">
    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label for="projectId">Project ID</mat-label>
        <input matInput name="projectId" id="projectId" formControlName="projectId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="customer">Customer</mat-label>
        <input matInput name="customer" id="customer" formControlName="customer">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="article">Article</mat-label>
        <input matInput name="article" id="article" formControlName="article">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="deliveryDate">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="deliveryDate" id="deliveryDate" formControlName="deliveryDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="scheduledTime">Sheduled Time</mat-label>
        <input matInput name="scheduledTime" id="scheduledTime" formControlName="scheduledTime">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="usedMachine">Select</mat-label>
        <select id="usedMachine" style="display: none;"></select>
        <mat-select name="usedMachine" id="usedMachine" formControlName="usedMachine">
          <!-- @for for each machine -->
          <mat-option value="one">{{machineList[0].name}}</mat-option>
          <mat-option value="two">{{machineList[1].name}}</mat-option>
          <mat-option value="three">{{machineList[2].name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="notification">Notifications</mat-label>
        <textarea matInput name="notification" id="notification" formControlName="notification"></textarea>
      </mat-form-field>

    </div>

      <mat-dialog-actions class="flex-between actions">
        <button mat-raised-button (click)="addProject()">Add Project</button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
      </mat-dialog-actions>
  </form>
</section>