<h2>Add new Project</h2>

<mat-form-field appearance="outline">
    <mat-label for="projectId">Project ID</mat-label>
    <input matInput name="projectId" id="projectId">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label for="customer">Customer</mat-label>
    <input matInput name="customer" id="customer">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label for="article">Article</mat-label>
    <input matInput name="article" id="article">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label for="deliveryDate">Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" name="deliveryDate" id="deliveryDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<mat-form-field appearance="outline">
    <mat-label for="scheduledTime">Sheduled Time</mat-label>
    <input matInput name="scheduledTime" id="scheduledTime">
</mat-form-field>

<mat-form-field>
    <mat-label for="usedMachine">Select</mat-label>
    <mat-select name="usedMachine" id="usedMachine">
        <!-- @for for each machine -->
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="notification">Notifications</mat-label>
    <textarea matInput name="notification" id="notification"></textarea>
  </mat-form-field>

  
    <!-- <button mat-raised-button (click)="updateProject(project.projectId, project)">Update Project</button> -->
    @if (this.projectService.editMode) {
      <button mat-raised-button (click)="test()">test</button>
    } @else {
      <button mat-raised-button (click)="addProject()">Add Project</button>
    }
  
    <button mat-raised-button (click)="closeDialog()">Close</button>