<h2>Employee</h2>

<mat-form-field appearance="outline">
    <mat-label>Personal-Id</mat-label>
    <input matInput name="employeeId" id="employeeId" [(ngModel)]="employee.employeeId">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput name="name" id="name" [(ngModel)]="employee.name">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput name="firstName" id="firstName" [(ngModel)]="employee.surname">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput name="email" id="email" [(ngModel)]="employee.email">
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button (click)="cloeDialog()">No Thanks</button>
    <button mat-button (click)="saveEmployee()">Ok</button>
  </mat-dialog-actions>