<section>
    <mat-card class="projectCard">
        <mat-card-header class="flex-between projectsAction">
            <mat-card-title>{{project?.projectId}}</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menuBtn">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openProjectDetails()">Details</button>
                <button mat-menu-item (click)="openProjectEdit()">Edit</button>

            </mat-menu>
        </mat-card-header>
        <mat-card-content class="CardContent">
            <div>
                <p>{{project?.customer}}</p>
                <p>{{project?.article}}</p>
            </div>

            <div>
                <p>{{formatDate(project?.deliveryDate)}}</p>
                <p>{{project?.scheduledTime}} h</p>
            </div>

        </mat-card-content>
        <div class="statusContainer">
            <button mat-icon-button (click)="changeStatusToActive()">
                <mat-icon style="color: green;">play_arrow</mat-icon>
            </button>
            <button mat-icon-button (click)="changeStatusToPaused()">
                <mat-icon style="color: orange;">pause</mat-icon>
            </button>
            <button mat-icon-button (click)="changeStatusToFinished()">
                <mat-icon style="color: red;">stop</mat-icon></button>
            </div>
    </mat-card>
</section>