<section>
  <h2>Machine Park</h2>

  <button (click)="openDialog()" mat-raised-button style="margin-bottom: 16px;">
    Add Machine
  </button>

  <mat-accordion>

    @for (machine of getMachineList(); track machine) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{machine.name}}
        </mat-panel-title>
        <mat-panel-title>
          {{machine.type}}
        </mat-panel-title>
        <mat-panel-description>
          {{machine.maxDimension}}
        </mat-panel-description>
        <mat-panel-description>
          Assigned to: <br>
          <!-- {{getEmployeeAssignedToMachine(machine.position).length == 0 ? 'No one' :
          getEmployeeAssignedToMachine(machine.position)[0].name}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><b>Manufacturer: </b> {{machine.manufacturer}}</p>
      <p><b>Name: </b> {{machine.name}}</p>
      <p><b>Max Dimensions: </b> {{machine.maxDimension}}</p>
      <p><b>Type: </b> {{machine.type}}</p>

      <button mat-raised-button color="warn" (click)="deleteMachine(machine?.id ?? '')">Delete</button>
    </mat-expansion-panel>
    }

  </mat-accordion>
</section>