<h2>Employee</h2>

<mat-form-field appearance="outline">
    <mat-label>Personal-Id</mat-label>
    <input matInput>
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Skills</mat-label>
  <mat-select>
    <mat-option value="mill">Mill</mat-option>
    <mat-option value="turn">Turn</mat-option>
    <mat-option value="milltunr">Mill Turn</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Assigned to</mat-label>
  <mat-select>
    <mat-option value="1">Multus B300W</mat-option>
    <mat-option value="2">M400B</mat-option>
    <mat-option value="3">GTX500A</mat-option>
  </mat-select>
</mat-form-field>






  <mat-dialog-actions>
    <button mat-button (click)="cloeDialog()">No Thanks</button>
    <button mat-button (click)="saveEmployee()">Ok</button>
  </mat-dialog-actions>